services:
  postgres:
    image: postgres:18-alpine
    container_name: tribelife-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tribelife
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
